# Environment
.env
.venv/
venv/

# Data
data/

# Checkpoints
checkpoints/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# uv
.python-version
README.pdf
